<script>  
	$(document).ready(function () {
		GetLatestReleaseInfo();  
	});  
	function GetLatestReleaseInfo() {
		$.getJSON("https://api.github.com/repos/PokeD/PokeD.Server.Desktop/releases/latest").done(function (json) {
			$("#server-download-rar").attr("href", json.assets[0].browser_download_url);
		}); 
		//$.getJSON("https://api.github.com/repos/PokeD/PokeD.Client.Desktop/releases/latest").done(function (json) {
		//	$("#client-download-rar").attr("href", json.assets[0].browser_download_url);	  
		//});
	}  
</script>

<h1>PokeD.Server.Desktop</h1>
<section id="server-downloads-release" class="clearfix">
	<h2>Release</h2>
	<a id="server-download-rar" class="button"><span>Download .rar</span></a>
</section>
<section id="server-downloads-source" class="clearfix">
	<h2>Source</h2>
	<a href="https://github.com/PokeD/PokeD.Server.Desktop/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/PokeD/PokeD.Server.Desktop/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/PokeD/PokeD.Server.Desktop" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>

<h1>PokeD.SCON.Desktop</h1>
<section id="scon-description" class="clearfix">
	SCON (Shitty Console) - PokeD's remote server manager.
	<h1>SCON (Shitty Console) - PokeD's remote server manager.</h1>
	<h2>SCON (Shitty Console) - PokeD's remote server manager.</h2>
	<h3>SCON (Shitty Console) - PokeD's remote server manager.</h3>
	<h4>SCON (Shitty Console) - PokeD's remote server manager.</h4>
</section>
<section id="scon-downloads-release" class="clearfix">
	<h2>Release</h2>
	<a id="scon-download-rar" class="button"><span>Download .rar</span></a>
</section>
<section id="scon-downloads-source" class="clearfix">
	<h2>Source</h2>
	<a href="https://github.com/PokeD/PokeD.SCON.Desktop/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/PokeD/PokeD.SCON.Desktop/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/PokeD/PokeD.SCON.Desktop" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
<!--
<hr>

<h1>PokeD.Client.Desktop</h1>
<section id="client-downloads-release" class="clearfix">
	<h2>Release</h2>
	<a id="client-download-rar" class="button"><span>Download .rar</span></a>
</section>
<section id="client-downloads-source" class="clearfix">
	<h2>Source</h2>
	<a href="https://github.com/PokeD/PokeD.Client.Desktop/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/PokeD/PokeD.Client.Desktop/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/PokeD/PokeD.Client.Desktop" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
-->
