<script>  
	$(document).ready(function () {
		GetLatestReleaseInfo();  
	});  
	function GetLatestReleaseInfo() {
		$.getJSON("https://api.github.com/repos/PokeD/PokeD.Server.NetCore/releases/latest").done(function (json) {
			$("#server-download-rar").attr("href", json.assets[0].browser_download_url);
		}); 
		//$.getJSON("https://api.github.com/repos/PokeD/PokeD.Client.Desktop/releases/latest").done(function (json) {
		//	$("#client-download-rar").attr("href", json.assets[0].browser_download_url);	  
		//});
		$.getJSON("https://api.github.com/repos/PokeD/PokeD.SCON.Desktop/releases/latest").done(function (json) {
			$("#scon-download-rar").attr("href", json.assets[0].browser_download_url);
		}); 
	}  
</script>

<h1>PokeD.Server.NetCore</h1>
<section id="server-description" class="clearfix">
	<h6>Server. Supports Pokemon3D client, PokeD client.</h6>
</section>
<section id="server-downloads-release" class="clearfix">
	<h2>Release</h2>
	<a id="server-download-rar" class="button"><span>Download .rar</span></a>
</section>
<section id="server-downloads-source" class="clearfix">
	<h2>Source</h2>
	<a href="https://github.com/PokeD/PokeD.Server.NetCore/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/PokeD/PokeD.Server.NetCore/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/PokeD/PokeD.Server.NetCore" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>

<hr>

<h1>PokeD.SCON.Desktop</h1>
<section id="scon-description" class="clearfix">
	<h6>SCON (Shitty Console). Remote server manager.</h6>
</section>
<section id="scon-downloads-release" class="clearfix">
	<h2>Release</h2>
	<a id="scon-download-rar" class="button"><span>Download .rar</span></a>
</section>
<section id="scon-downloads-source" class="clearfix">
	<h2>Source</h2>
	<a href="https://github.com/PokeD/PokeD.SCON.Desktop/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/PokeD/PokeD.SCON.Desktop/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/PokeD/PokeD.SCON.Desktop" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
<!--
<hr>

<h1>PokeD.Client.Desktop</h1>
<section id="client-description" class="clearfix">
	<h6>Client.</h6>
</section>
<section id="client-downloads-release" class="clearfix">
	<h2>Release</h2>
	<a id="client-download-rar" class="button"><span>Download .rar</span></a>
</section>
<section id="client-downloads-source" class="clearfix">
	<h2>Source</h2>
	<a href="https://github.com/PokeD/PokeD.Client.Desktop/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
	<a href="https://github.com/PokeD/PokeD.Client.Desktop/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
	<a href="https://github.com/PokeD/PokeD.Client.Desktop" id="view-on-github" class="button"><span>View on GitHub</span></a>
</section>
-->
